html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  font-size: 22px;
	margin:10px 10px;
  padding:10px;
}
#search {
   height: 160px;
   text-align:center;
}
.class {
   text-align:center;
}
.list-group {
  float: left;
  margin: 10px;
  width: 410px;
  height: 130px;
  padding-top: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

#avatar {
  float: left;
  padding-left: 10px;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  overflow: hidden;
}
#results {
  float: left;
  padding-left: 10px;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  font-family: Arial Bold;
  font-size: 150%;
  font-weight: 700;
  line-height: 40px;
  float: left;
  overflow: hidden;
}
.name {
  float: left;
}
#repos {
  font-size: 80%;
  font-weight: 700;
  line-height: 25px;
  position: relative;
  text-align: left;
}